--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
prometheus_client
langchain
langchain-openai
langchain-redis
langchain_community
qdrant-client
pydantic-settings
python-dotenv
langchain_huggingface
langchain_groq
numpy<2
torch>=2.4.0+cpu       
sentence-transformers
pydantic
asyncio